body{
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: var(--Light-grayish-blue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials{
    display: grid;
    grid:'daniel-testimonial daniel-testimonial jonathan-testimonial kira-testimonial' 285px 
         'jeanette-testimonial patrick-testimonial patrick-testimonial kira-testimonial' 268px 
         / 255px 255px 255px 255px;
    width: 1110px;
    gap: 25px 30px; 
    font-size: 13px;
}
 
.profile{
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--Light-grayish-blue);
    margin-bottom: 20px;
}

.verified{
    font-size: 11px;
    opacity: 50%;
}

.profile img{
    max-width: 30px;
    border-radius: 50%;
}

.profile .profile-info{
    display: flex;
    flex-direction: column;
}

.quote{
    font-weight: 600;
    font-size: 20px;
    color: var(--Light-grayish-blue);
    margin-bottom: 20px;
}

.review{
    line-height: 18px;
    opacity: 70%;
    color: var(--Light-grayish-blue);
}

.daniel-testimonial, .jonathan-testimonial, .jeanette-testimonial, .patrick-testimonial, .kira-testimonial{
    padding: 25px 30px;
    border-radius: 8px;
}

.daniel-testimonial{
        grid-area: daniel-testimonial;
        background-color: var(--Moderate-violet);
        position: relative;
        z-index: 0;
}

.daniel-testimonial::after{
    content: url(../images/bg-pattern-quotation.svg);
    position: absolute;
    top: 0;
    right: 80px;
    z-index: -1;
}

:is(.daniel-testimonial .profile, .patrick-testimonial .profile) img{
    max-width: 32px;
    border: solid 2px;
}

.daniel-testimonial .profile img{
    border-color: hsla(0, 0%, 81%, 0.5);
}

.patrick-testimonial .profile img{
    border-color: var(--Moderate-violet);
}

:is(.jeanette-testimonial, .kira-testimonial) .name, :is(.jeanette-testimonial, .kira-testimonial) .quote, :is(.jeanette-testimonial, .kira-testimonial) .verified, :is(.jeanette-testimonial, .kira-testimonial) .review{
    color: var(--grayish-blue);
}

.jonathan-testimonial{
    grid-area: jonathan-testimonial;
    background-color: var(--grayish-blue);
}

.jeanette-testimonial{
    grid-area: jeanette-testimonial;
    background-color: var(--white);
}

.patrick-testimonial{
    grid-area: patrick-testimonial;
    background-color: var(--blackish-blue);
}

.kira-testimonial{
    grid-area: kira-testimonial;
    background-color: var(--white);
}